{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
  body{
            background-color:#FFFBEF;
        }
</style>
<body>
    <nav class="navbar navbar-expand-md mt-2 me-1">
    <div class="container-xl">
        <a href="{% url 'homepage' %}"class="navbar-brand">
             <img src="{% static 'logo.PNG'%}" alt="" class="img-fluid" style="width: 70px; height: 65px;">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" 
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>


        <div class="collapse navbar-collapse justify-content-end align-content-center text-center"
         id="main-nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link  fw-bold" href="{% url 'homepage' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link  fw-bold" href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link  fw-bold" href="{% url 'analytics' %}">Analytics</a></li>
                <li class="nav-item"><a class="nav-link  fw-bold" href="{% url 'profile' %}">Profile</a></li>
              <li class="nav-item">
                  <form action="/accounts/logout" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn fw-bold text-light" style="background-color: #0d3336; ">Sign Out</button>
                  </form>
                </li>
            </ul>
        </div>
     </div>
    </nav>
<div class="container">
  <div class="row justify-content-center p-3" style="background-color: white;">
    <div class="col-11 col-md-6 col-lg-5">
      <a href="" style="text-decoration: none;">
          <h3 class="text-center  text-dark">Interest Earned</h3>
          <canvas id="interestChart"></canvas>
      </a>
    </div>
    <div class="mt-5 d-md-none"></div>
    <div class="col-11 col-md-6 col-lg-5">
      <a href="" style="text-decoration: none;">
          <h3 class="text-center text-dark">Disbursed Amount</h3>
          <canvas id="disbursedChart"></canvas>
      </a>
    </div>
    <div class="mt-1 d-md-none"></div>
    <div class="col-11 col-md-6 col-lg-5 mt-4">
      <a href="" style="text-decoration: none;">
          <h3 class="text-center text-dark">Outstanding Amount</h3>
          <canvas id="outstandingChart"></canvas>
      </a>
    </div>
  </div>
  <div class="mt-2 p-3" style="background-color: white;">
    <div class="text-center">
      <a href="{% url 'transaction_history' %}" class="btn btn-outline-success text-center">View Transaction History</a>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const interestLabels = {{ interest_amount_labels_json|safe }};
  const interestData = {{ interest_amount_data_json|safe }};
  const disbursedLabels = {{ disbursed_labels_json|safe }};
  const disbursedData = {{ disbursed_data_json|safe }};
  const outstandingLabels = {{ outstanding_labels_json|safe }};
  const data = {{ outstanding_data_json|safe }};

  const interestChart = new Chart(document.getElementById('interestChart').getContext('2d'), {
    type: 'line',
    data: {
      labels: interestLabels,
      datasets: [{
        label: 'Interest Earned',
        data: interestData,
        borderColor: 'green',
        fill: false,
        tension: 0.2
      }]
    }
  });

  const disbursedChart = new Chart(document.getElementById('disbursedChart'), {
    type: 'line',
    data: {
      labels: disbursedLabels,
      datasets: [{
        label: 'Disbursed Amount',
        data: disbursedData,
        borderColor: 'blue',
        tension: 0.2,
        fill: false
      }]
    }
  });

   const outstandingChart = new Chart(document.getElementById('outstandingChart'), {
    type: 'line',
    data: {
      labels: outstandingLabels,
      datasets: [{
        label: 'Outstanding Amount',
        data: data,
        borderColor: 'orange',
        tension: 0.2,
        fill: false
      }]
    }
  });
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>    
</body>
</html>